.header {
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
}

a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0px 16px;
  }

  .section-one {
    display: flex;
    justify-content: space-between;
  }

  .section-one .header {
    font-size: 24px;
  }

  .section-two  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
  }

  .section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .author {
    align-self: flex-end;
  }

  .section-four {
    display: flex;
    justify-content: space-around;
  }