body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: white;
  width: 800px;
  align-self: center;
  padding: 0px 100%;
}

.header-right {
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
}

.header-right img {
  height: 10px;
  width: 10px;
}

.header img {
  height: auto;
  width: 200px;
}

a {
    text-decoration: none;
    color: white;
  }
  
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0px 16px;
}

.sections {
  display: flex;
  flex-direction: column;
  flex: 1 0 800px;
}

.section-one {
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;
  color: white;
  width: 800px;
  align-self: center;
  padding: 50px 100%;
}

.section-one .heading {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.section-one .sub-heading {
  font-size: 18px;
  color: #F9FAF8;
}

.section-one img {
  height: 250px;
  width: auto;
}

.one-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: #e5e7eb;
  border-radius: 8px;
  background:  #3882F6;
  color: white;
  padding: 8px  16px;
}

.section-two  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  width: 800px;
  align-self: center;
}

.section-two .title {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 200px;
}

.cards img {
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
  width: 800px;
  align-self: center;
  padding: 50px 100%;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.author {
  align-self: flex-end;
}

.section-four {
  display: flex;
  justify-content: space-around;
  align-self: center;
  background-color: #3882f6;
  color: white;
  padding: 50px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  margin-top: 50px;
}

.four-right {
  align-items: center;
}

.four-right button {
  border: 1px solid white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 25px;
}